# ignore file file gk penting
Adobe After Effects Auto-Save
test (converted) copy.aep
test (converted).aep
test.aep
SnapInsta.to_AQNE-jWUBfS4EFceobuF2mvSSLybDdaCO988lNfNAymW3db7ru_-BScBNgLbhyn0E78VNuL1DSySbVHtaR0z-r577rW4AHl-BdHA8GU.mp4
SnapInsta.to_AQNkGO2-6Oqm2ip3t8kZ1MoCt5j8H7PTS2J4dWLWNkeGOE0UfaiYvAGLaQyKXtxAiTfgclhlbcyfYhOnviN4Or1fK0N50Z-v8aO-uVc.mp4
testReport.txt
